/*loading动画*/
.loading{
    width: 300px;
    height: 300px;
    position: relative;
}

.loading::before,.loading::after{
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    background: black;
    border-radius: 50%;
    top:0;      
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;   /*上下左右都为0，再加上margin:auto; 就是自动居中*/
    animation: s 1.5s linear infinite;  /*加上s状态，状态开始到结束为1.5s*/
}

.loading::after{
    animation-delay: 0.75s;     /*第二个圆出现的时间*/
}

@keyframes s{
    0%{             /*初始状态*/
        width: 0px;
        height: 0px;
        opacity: 1; /*透明度*/
    }
    100%{           /*结束状态*/
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}




/*页面CSS效果*/
body{
    background-color: #efefef;
    margin: 0%;
}
a{
    color: inherit;
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
hr{
    height: 0;
    border:none;
    border-top: 1px solid #dedede;
}
ul,ol{
    list-style:none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}


.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.topNavBar .logo{
    font-size: 24px;
    color: #e06567;
    font-family: Arial;
    font-weight: bold;
}
.topNavBar .logo .rs{
    margin: 4px;
}
.topNavBar .logo .card{
    color: gray;
}
.topNavBar{
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.7s;
    color: #b7b7b7;
}
.topNavBar.sticky{
    background: white;
    z-index: 1;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    color: black;
}
.topNavBar-inner{
    padding:0 16px;
}

.topNavBar nav > ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.topNavBar nav > ul > li{
    float: left;
    position: relative;
}
.topNavBar nav > ul > li > a{
    font-size: 12px;
    color: inherit;
    text-decoration: none;
    padding: 0 17px 0 17px;
    font-weight: bold;
    border-top: 7px solid transparent;
    border-bottom: 3px solid transparent;
    padding-bottom: 5px; 
    display: block;
}
.topNavBar nav > ul > li.active > a::after,
.topNavBar nav > ul > li.highLight > a::after{
    background:  #e06567;
    content: '';
    display: block;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    animation: menuSlide 0.5s;
}

@keyframes menuSlide{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
.topNavBar .subMenu{
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: white;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.topNavBar .subMenu > li{
    white-space: nowrap;
    padding: 5px 10px;
}
.topNavBar li.active > .subMenu{
    display: block;
    animation: subMenuSlide 0.5s;
}
@keyframes subMenuSlide{
    0%{
        margin-right: 70%
    }
    100%{
        margin-right: 0;
    }
}

.banner{
    height: 515px;
    background-position: center center;
    background-size: cover;
    background-image: url(./img/banner.jpg); 
    border:1px solid red";
}
.banner .mask{
    height: 515px;
    background-color: rgba(0,0,0,0.5);
}


.userCard{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
}
.userCard .welcome{
    background-color: #e6686a;
    color: white;
    display: inline-block;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    margin-bottom: 36px;
}
.userCard .welcome .triangle{
    display: block;
    border: 10px solid transparent;
    width: 0px;
    border-left-color: #e6686a;
    border-top-width: 0px;
    position: absolute;
    left: 10%;
    top: 100%;
}

.userCard .pictureAndText .picture{
    float: left;
}
.userCard .pictureAndText .text{
    float: left;
    margin-left: 65px;
    width: 470px;
}
.userCard .pictureAndText{
    padding: 50px 0 0 50px;
}


.userCard .text h1{
    margin-bottom: 10px; 
}
.userCard .text hr{
    margin: 15px 0;
}


.userCard .text dl dt,
.userCard .text dl dd{
    float: left;
    padding: 10px 0;
}
.userCard .text dl dt{
    width: 50%;    
    font-weight: bold;
}
.userCard .text dl dd{
    width: 50%;
    color:gray;
}


.userCard >footer.media{
    background: #e6686a;
    text-align: center;
}
.userCard >footer.media>a{
    display: inline-block;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px;
}
.userCard >footer.media>a:hover{
    background: #cf5d5f;
}
.userCard svg{
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}


body >main .downloadResume-wrapper{
    text-align: center;
    padding: 32px 0;
} 
body >main .downloadResume{
    font-size: 14px;
    line-height: 16px;
    padding: 21px 55px;
    border:1px solid #cdcfd1;
    display: inline-block;
    border-radius: 2px;
    color: #3d4451;
    font-weight: bold;
}
body >main .downloadResume:hover{
    transition: box-shadow 0.5s;
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.2);
}


body >main .selfIntroduction{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 18px;
}



section.skills,
section.portfolio{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}
section.skills > h2{
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    margin-top: 60px;
}
section.skills > ol{
    background: white;
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.2);
    padding: 43px 50px 10px;
    margin-top: 30px;
    
}
section.skills > ol > li{
    float: left;
    width: 45%;
    box-sizing: border-box;
}
section.skills > ol > li:nth-child(even){
    float: right;
}
section.skills .progressBar{
    height: 5px;
    background: #fae1e1;
    margin: 4px 0 40px 0;
}
section.skills .progressBar .progress{
    background: #e6686a;
    height: 100%;
    width: 70%;
    border-radius: 2px;
}
section.skills >ol >li >h3{
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}



section.portfolio{
    text-align: center;
}
section.portfolio > h2{
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
}
section.portfolio > nav{
    display: inline-block;
    vertical-align: top;
    margin-top: 32px;
}
section.portfolio > nav .bar{
    height: 5px;
    background: white;
    margin-top: 5px;
    margin-bottom: 30px;
    border-radius: 2px;
}
section.portfolio > nav .bar .bar-inner{
    height: 100%;
    background:#e6686a;
    border-radius: 2px; 
    transition: all 0.3s;
    
}
section.portfolio > nav > ol{
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
}
section.portfolio > nav > ol > li{
    float: left;
    margin-left: 40px;
    cursor: pointer;
}
section.portfolio > nav > ol > li:nth-child(1){
    margin-left: 0;
}

section.portfolio > nav .bar.state-1 .bar-inner{
    margin-left: 0;
    width: 30px;
}
section.portfolio > nav .bar.state-2 .bar-inner{
    margin-left: 70px;
    width: 40px;
}
section.portfolio > nav .bar.state-3 .bar-inner{
    margin-left: 140px;
    width: 96px;
}
section.portfolio .swiper-container {
    width: 800px;
    height: 600px;
}
section.portfolio .swiper-button-prev{
    
}